<div
  class="row row-cols-1 row-cols-md-3 g-5 text-center justify-content-center mx-5 mt-5"
>
  <a href="/dashboard/catalogues/themes">
    <div class="col">
      <div class="card shadow py-5">
        <i class="fas fa-wallet fs-1"></i>
        <div class="card-body">
          <p class="card-title fw-bold fs-3">Themes</p>
          <span class="fs-5">Total {{ listeTheme!.length }}</span>
        </div>
      </div>
    </div>
  </a>

  <a href="/dashboard/catalogues/formations">
    <div class="col">
      <div class="card shadow py-5">
        <i class="fas fa-book fs-1"></i>
        <div class="card-body">
          <p class="card-title fw-bold fs-3">Formations</p>
          <h4 class="fs-5">{{listeFormation.length}}</h4>
        </div>
      </div>
    </div>
  </a>

  <a href="/dashboard/formateurs">
    <div class="col">
      <div class="card shadow py-5">
        <i class="fas fa-users fs-1"></i>
        <div class="card-body">
          <p class="card-title fw-bold fs-3">Formateurs</p>
          <h4 class="fs-5">{{listeFormateur.length}}</h4>
        </div>
      </div>
    </div>
  </a>

  <a href="/dashboard/clients">
    <div class="col">
      <div class="card shadow py-5">
        <i class="fas fa-graduation-cap fs-1"></i>
        <div class="card-body">
          <p class="card-title fw-bold fs-3">Participants</p>
          <span class="fs-6">Total 0</span>
        </div>
      </div>
    </div>
  </a>

  <a href="#">
    <div class="col">
      <div class="card shadow py-5">
        <i class="fas fa-regular fa-hourglass-half fs-1"></i>
        <div class="card-body">
          <p class="card-title fw-bold fs-3">Sessions</p>
          <span class="fs-6">Total 0</span>
        </div>
      </div>
    </div>
  </a>
</div>
